.thumbnail {
  display: inline-block;
  display: block;
  height: auto;
  max-width: 100%;
  padding: 0px;
  margin-bottom: 20px;
  line-height: 1.428571429;
  background-color: transparent;
  border: 0px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  
}


.thumbnail img {
  display: block;
  height: auto;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 3px;
  background: $darkGray;
  border: 1px solid $lightGray;
  border-radius: 2px;
}


.thumbnail:hover img{
    opacity: .5;  
}

.thumbnail:target img{
    transform: scale(2.2);
    z-index:2;
    opacity:1;
}



/* Thmbnail Tabs - bs overwrite*/

.nav-tabs {
  border-bottom: 0px; 
    li {
      float: none;    
      margin-bottom: 0px;
      a:hover {
        background-color: rgba(223, 223, 223, .4);
        border: rgba(223, 223, 223, .6);
      }
    }
  padding-right: 50px;
}

.nav-tabs li a{
  background-color: rgba(223, 223, 223, .3);
  color: $lightGray;
  font-weight: 200;
  border: 1px solid $darkGray;
  margin-right: 10px;
  border-radius: 4px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: $white;
  font-weight: 300;
  cursor: default;
  background-color: $salmon;
  border: 1px solid $salmon;
  border-bottom-color: transparent;
}